.navbar {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    /* position: sticky; */
    top: 64px;
    /* Below header */
    z-index: 50;
    height: 48px;
}

.container {
    max-width: 1200px;
    margin: 0;
    width: 100%;
    display: flex;
    gap: 2rem;
    padding-left: 1rem;
}

.navLink {
    text-decoration: none;
    color: #64748b;
    font-size: 0.875rem;
    font-weight: 500;
    transition: color 0.2s;
    padding: 0.25rem 0;
    border-bottom: 2px solid transparent;
}

.navLink:hover {
    color: #0ea5e9;
}

.active {
    color: #0ea5e9;
    border-bottom-color: #0ea5e9;
}